# 数据源
opencv-python
# 跟踪
atomicwrites
attrs
colorama
easydict
entrypoints
et-xmlfile
flake8
flake8-import-order
importlib-metadata
jdcal
joblib
lap
mccabe
more-itertools
motmetrics
openpyxl
packaging
pandas
Pillow
pluggy
py
py-cpuinfo
pycodestyle
pyflakes
pyparsing
pytest
pytest-benchmark
python-dateutil
pytz
PyYAML
scikit-learn
scipy
six
Vizer
wcwidth
xmltodict
zipp
# ReID
matplotlib
prettytable
yacs
termcolor
tabulate
tensorboard
gdown
faiss-gpu
cython
# 传输预警信息
kafka
